.mk-operation-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}
.mk-operation-list-item.disabled {
    color: #ccc;
    cursor: not-allowed;
}
.mk-operation-list-item.horizontal + .mk-operation-list-item.horizontal {
  margin-left: 6px;
}
.mk-operation-list-item.vertical {
  display: block;
}
